@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Black #0b0909
Ebony #44444c
Gray #8c8c8c
Pewter #d6d6d6 */

:root {
  --background: #ffffff;
  --foreground: #0b0909;
  --accent: #44444c;
  --ebony: #0b0909;
  --gray: #8c8c8c;
  --pewter: #d6d6d6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121418;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  cursor: none;
  font-family: "Inter", sans-serif;
}

h3 {
  color: --gray;
  font-size: 32px;
  font-weight: bold;
}

.svg-container {
  position: absolute;
  inset: 0;
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, var(--background) 1px);
  background-size: 8px 8px;
  background-repeat: repeat;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  background-position: 0% 50%; /* Start position for animation */
}

.radial-background {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, var(--background) 1px);
  background-size: 8px 8px;
  background-repeat: repeat;
  backdrop-filter: blur(1px);
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #170b3b;
  transform-origin: 0%;
}

.progress {
  position: sticky;
  top: 0;
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
}

.progress svg {
  transform: translateX(-100px) rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 5%;
  fill: none;
}

.bg {
  stroke: var(--accent);
  opacity: 0.2;
}

.progress .indicator {
  stroke: var(--accent);
}

::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

html {
  scroll-snap-type: y mandatory;
}

h2 {
  margin: 0;
  color: var(--pewter);
  left: calc(50% + 130px);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
}

section.item {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

section.item > div {
  color: #0b0909;
  max-width: 600px;
  min-height: 500px;
  height: fit-content;
  position: relative;
  max-height: 90vh;
  background-color: rgba(214, 214, 214, 0.2);
  background-color: #14202a;
  transition: background-color 0.1s ease-in-out;
  border-radius: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 33px 5px rgba(224, 224, 224, 1);
  -moz-box-shadow: 0px 0px 33px 5px rgba(224, 224, 224, 1);
  box-shadow: 0 0 8px 1px #e0e0e0;
}

.welcome-container {
  height: 100vh;
  max-width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

section.item:hover > div {
  background-color: #35363f;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
  width: 100vw;
}

ul {
  list-style-type: disc; /* Use a bullet */
  list-style-position: inside; /* Ensure the bullet is inside the list item */
}

li {
  color: #d6d6d6; /* Color the text white */
}

ul li::marker {
  color: #d6d6d6; /* Color the bullet white */
}
